/.DS_Store
/.env
/readme.md
/resposta-gemini.md
/backend/.env
/backend/node_modules
/backend/dist
/backend/.vscode
/backend/.DS_Store
/frontend/node_modules
/frontend/dist
/frontend/.vscode
/frontend/.env
/frontend/.DS_Store
